/* styles.css */

body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comic Sans MS', cursive;
    background-color: #f7f7f7;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffecb3; /* Pale yellow background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    color: #ff6b6b; /* Red */
    margin-bottom: 10px;
    padding: 10px 20px; /* Add padding to create a unique box */
    background-color: #ffd700; /* Yellow background for the box */
    border-radius: 10px; /* Rounded corners for the box */
    font-weight: bold; /* Make the font bolder */
}

.invitation-text {
    font-size: 18px;
    color: #ffa07a; /* Light salmon */
    margin-bottom: 20px;
}

.date-time {
    font-size: 20px;
    color: #87ceeb; /* Sky blue */
    margin-bottom: 10px;
}

.location {
    font-size: 18px;
    color: #87ceeb; /* Sky blue */
    margin-bottom: 20px;
}

.rsvp-button a {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ff6b6b; /* Red */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.rsvp-button a:hover {
    background-color: #ff4949; /* Darker red */
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 28px;
    }

    .invitation-text {
        font-size: 16px;
    }

    .date-time, .location {
        font-size: 16px;
    }

    .rsvp-button a {
        font-size: 16px;
    }
}
